<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Flare Timing - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css"
          integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y"
          crossorigin="anonymous" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <span class="icon"><i class="fa fa-paper-plane-o" /></span>
                        <span class="has-text-weight-bold">Flare Timing</span>
                    </a>
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-burger">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbar-burger" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/blog.html">Blog</a>
                        <a class="navbar-item" href="/about.html">About</a>
                        <a class="navbar-item" href="/contact.html">Contact</a>
                    </div>
                </div>
            </nav>
            <div class="spacer" />
            <div id="content" class="content">
                $body$
            </div>
        </div>
    </body>
    <script language="javascript" src="/css/app.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js"
          integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx"
            crossorigin="anonymous"
            defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            katex.render("y = x/x_{max}", document.getElementById("eqn-reach"), {throwOnError: false});
            katex.render("max(0, 1 - \\sqrt[3]{(t - t_{best})^2/\\sqrt{t_{best}}})", document.getElementById("eqn-time"), {throwOnError: false});
        });
    </script>
</html>
